@import 'variables';

.mina-table {
	.c-row {
		color: $base-secondary;

		.title {
			color: $base-primary;
		}

		.details {
			> div {
				margin-right: 1px;

				&:first-child {
					width: 64px;
				}

				&:nth-child(2),
				&:nth-child(3) {
					width: 82px;
				}
			}

			.last-group div {
				&:nth-child(1) {
					width: 67px;
				}

				&:nth-child(3) {
					width: 72px;
				}

				&:nth-child(2),
				&:nth-child(4) {
					width: 48px;
				}
			}
		}

		.mat-icon {
			width: 18px;
			height: 18px;
		}

		> div {
			&:hover:not(.active) {
				background-color: $base-container;
			}

			&.active {
				background-color: $selected-container;

				.title {
					color: $selected-primary;
				}

				.last-group {
					.secondary {
						color: $selected-primary !important;
					}

					.tertiary {
						color: $selected-secondary !important;
					}
				}

				.success-secondary {
					color: $success-primary !important;
				}

				.warn-secondary {
					color: $warn-primary !important;
				}

				::ng-deep mina-reporting-table-graph .histo-bar {
					background-color: $selected-primary !important;
				}
			}
		}
	}

	.cdk-virtual-scroll-viewport {
		min-width: 1240px;
		overflow-x: hidden;
	}
}
