@import 'variables';

.side-panel-stepper {
	.step {
		transition: left 300ms ease-out;

		&.active {
			left: 0;
		}

		&.before {
			left: -100%;
		}

		&.after {
			left: 100%;
		}
	}

	.step-1 {
		.bg-container {
			padding-right: 20px;
		}
	}
}
